img {
  width: 100%;
  display: block;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
}
html,
body {
  height: 100%;
}
body {
  padding-top: 45px;
  padding-bottom: 45px;
}
/* 公共样式 */
.uiReset {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* 搜索框 */
.pyg_search {
  width: 100%;
  padding: 5px;
  height: 45px;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.pyg_nav {
  display: flex;
  height: 45px;
  position: fixed;
  background-color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}
.pyg_nav a {
  flex: 1;
  text-align: center;
  padding-top: 3px;
  color: black;
}
.pyg_nav a span {
  justify-content: center;
  display: flex;
  align-items: center;
  display: inline-block;
  font-size: 20px;
}
.pyg_nav a .page_name {
  font-size: 12px;
}
.waitIng {
  height: 100%;
  position: relative;
  text-align: center;
}
.waitIng::before {
  content: "\f1ce";
  position: absolute;
  top: 50%;
  margin-top: -20px;
  margin-left: -20px;
  animation: fa-spin 2s infinite linear;
  z-index: 1001;
  font: normal normal normal 40px/1 FontAwesome;
}
.waitIng::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #666;
  opacity: 0.8;
  z-index: 1000;
  position: absolute;
  top: 0px;
  left: 0px;
}
.view {
  height: 100%;
}
.pyg_main {
  height: 100%;
  display: flex;
  overflow: hidden;
}
.pyg_main .pyg_left {
  height: 100%;
  overflow: hidden;
  width: .8rem;
  background-color: #ccc;
}
.pyg_main .pyg_left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pyg_main .pyg_left ul li {
  height: .4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pyg_main .pyg_left ul .active {
  background-color: #fff;
  border-left: 3px solid #909940;
}
.pyg_main .pyg_right {
  overflow: scroll;
  flex: 1;
  background-color: #fff;
}
.pyg_main .pyg_right .pr_list .pl_title {
  height: 0.4rem;
  font-size: .16rem;
  color: blue;
  display: flex;
  align-items: center;
  padding-left: .05rem;
}
.pyg_main .pyg_right .pr_list .pl_items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.pyg_main .pyg_right .pr_list .pl_items li {
  width: 33.33%;
}
.pyg_main .pyg_right .pr_list .pl_items li a img {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.pyg_main .pyg_right .pr_list .pl_items li a span {
  font-size: .14rem;
  display: block;
  text-align: center;
}
