img {
  width: 100%;
  display: block;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
}
html,
body {
  height: 100%;
}
body {
  padding-top: 45px;
  padding-bottom: 45px;
}
/* 公共样式 */
.uiReset {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* 搜索框 */
.pyg_search {
  width: 100%;
  padding: 5px;
  height: 45px;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
}
.pyg_nav {
  display: flex;
  height: 45px;
  position: fixed;
  background-color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}
.pyg_nav a {
  flex: 1;
  text-align: center;
  padding-top: 3px;
  color: black;
}
.pyg_nav a span {
  justify-content: center;
  display: flex;
  align-items: center;
  display: inline-block;
  font-size: 20px;
}
.pyg_nav a .page_name {
  font-size: 12px;
}
