img {
  width: 100%;
  display: block;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
}
html,
body {
  height: 100%;
}
body {
  height: 100%;
  padding-top: 45px;
}
body {
  padding-top: 45px;
  padding-bottom: 45px;
}
.view {
  height: 100%;
  overflow: scroll;
}
/* 公共样式 */
.uiReset {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* 搜索框 */
.pyg_search {
  width: 100%;
  padding: 5px;
  height: 45px;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.pyg_nav {
  display: flex;
  height: 45px;
  position: fixed;
  background-color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}
.pyg_nav a {
  flex: 1;
  text-align: center;
  padding-top: 3px;
  color: black;
}
.pyg_nav a span {
  justify-content: center;
  display: flex;
  align-items: center;
  display: inline-block;
  font-size: 20px;
  color: #000;
}
.pyg_nav a .page_name {
  font-size: 12px;
  color: #000;
}
.waitIng {
  height: 100%;
  position: relative;
  text-align: center;
}
.waitIng::before {
  content: "\f1ce";
  position: absolute;
  top: 50%;
  margin-top: -20px;
  margin-left: -20px;
  animation: fa-spin 2s infinite linear;
  z-index: 1001;
  font: normal normal normal 40px/1 FontAwesome;
}
.waitIng::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #666;
  opacity: 0.8;
  z-index: 1000;
  position: absolute;
  top: 0px;
  left: 0px;
}
body {
  padding-top: 90px;
}
.view {
  position: relative;
}
.gl_search {
  width: 100%;
  position: fixed;
  background-color: royalblue;
  height: 45px;
  top: 0px;
  left: 0px;
}
.sort {
  width: 100%;
  position: fixed;
  background-color: yellowgreen;
  height: 45px;
  top: 45px;
  left: 0px;
}
.view {
  height: 100%;
  overflow: scroll;
}
.view .gl_list {
  overflow: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
}
.view .gl_list li {
  margin-bottom: 5px;
}
.view .gl_list li a {
  background-color: #fff;
  display: flex;
}
.view .gl_list li a .gl_left {
  flex: 1;
}
.view .gl_list li a .gl_left img {
  margin: 0 auto;
  width: 70%;
}
.view .gl_list li a .gl_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}
.view .gl_list li a .gl_right .gl_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #000;
}
.view .gl_list li a .gl_right .gl_price {
  font-size: 14px;
  color: red;
}
